@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
::selection{
  background: #fa4299;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  /* max-width: 390px; */
  /* max-width: 850px; */
  max-width: 900px;
  background: #fff;
  /* padding: 30px; */
  /* border-radius: 5px; */
  border-radius: 10px;
  /* max-width:650px; */
  margin:30px auto;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, .3); */
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}



.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}








/* iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii */
.form-container .form-inner{
  display: flex;
  flex-wrap: wrap;
  width: 200%;
  /* justify-content: space-between; */
}



/* iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii */
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
