@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto;
}

.main-wrapper {
  background-color: #fedd31;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  /* height:fit-content ; */
  /* padding: 20px 20px; */
  min-height: 1000px;
}


.right-bottom-ellipse {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 70%;
}
.main-card {
  width: 90%;
  max-width: 1100px;
  height: 900px;
  background-color: white;
  z-index: 1;
  box-shadow: 2px 7px 12px rgba(0, 0, 0, 0.25);
  display: flex;
}
.left-side-wrapper {
  width: 30%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1612534859320-79465795d8dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: -60px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.28);
  position: absolute;
  left: 0;
  top: 0;
}



.learn-more-wrapper {
  width: 90%;
  height: 35%;
  position: absolute;
  /* top: 30%; */
    top: 15%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.software-eng-text {
  color: white;
  font-weight: bold;
  /* font-size: 1.3em; */
  font-size: 2.6em;
  height: 35%;
  line-height: 66px;
}
.software-eng-text strong{
  font-size: 0.9em;
}
.software-eng-text span {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.learn-more-btn {
  width: 160px;
  height: 30px;
  border: 1px solid white;
  color: white;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  padding-left: 15px;

  position: absolute;
  top: 130%;
}
.learn-more-btn a{
  text-decoration: none;
  color: white;
}
.learn-more-btn:hover {
  cursor: pointer;
}

.learn-more-btn em {
  padding-left: 10px;
  transition: 0.7s ease-in-out;
}

.learn-more-btn:hover em {
  color: #ccc;
  padding-left: 20px;
}

.learn-more-btn span {
  transition: 0.7s ease-in-out;
}

.learn-more-btn:hover span {
  color: #ccc;
}



/* ********RIGHT SIDE******* */

.right-side-wrapper {
  /* width: 45%; */
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 25px 40px; */
}
.inner-wrapper {
  /* width: 70%;
  height: 85%; */
  width: 95%;
  height: 100%;
}

.header-wrapper {
  height: 8%;
  color: #f24e08;
  /* font-size: 1.2em; */
  font-size: 2.2em;
  font-weight: bold;
  position: relative;
padding: 17px 0 10px;
margin-bottom: 10px;

}
.header-wrapper:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    /* width: 50px; */
    width: 100%;
    border-radius: 2px;
    background-color: #2ecc71;
}

form {
  /* height: 100%; */
  height: 91%;
  color: #113740;
}

.input-wrapper {
  /* height: 70px; */
  display: flex;
  flex-direction: column;
  
}

.input-wrapper .lab-title {
  font-size: 1.4em;
  padding-bottom: 5px;
  margin-top: 30px;
}
.input-wrapper .title-upload{
  margin-top: 30px;
}
.input {
  width: 100%;
  height: 30px;
  position: relative;
}

input[type=text], textarea {
  /* border: 1.5px solid #113740;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  outline: none;
  padding-left: 30px; */
  width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	
	transition: .3s;
}
input[type=text]{
  margin-bottom: 22px;
}
textarea{
  margin-bottom: 10px;
}
input[type=text]:hover, textarea:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
textarea{
	min-height: 150px;
  
}
.action-wrapper {
 
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-size: 0.8em; */
}
.button{
  width: 40%;
	/* padding: 0.5rem 1rem; */
  padding: 0.9rem 1rem;
  
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.4rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
  margin-top: 50px;
  border-radius: 5px;
}
.button:hover{
  background-color: #27ae60;
}
input[type=text]:focus, textarea:focus{
  border: 2px solid rgba(30,85,250,0.47);
  background-color: #fff;
}
.back-btn{
  width: 40%;
	/* padding: 0.5rem 1rem; */
  padding: 0.9rem 1rem;
  
	background-color: #ff4500;
	color: #fff;
	font-size: 1.4rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
  margin-top: 50px;
  border-radius: 5px;
}
.back-btn:hover{
  background-color: #c53e0dea;
}


@media screen and (max-width: 750px) {
  
  .main-wrapper {
    min-height: 1140px;
    /* max-height: 150vh; */
  }

  .main-card {
    display: flex;
    flex-direction: column;
    /* height: 740px; */
    height: 1100px;
  }

  .left-side-wrapper {
    width: 100%;
    height: 40%;
    background-position: 0 0;
   height: 300px;
  }

  .learn-more-wrapper {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8em;
    position: absolute;
    top: 30%;
  }
  .software-eng-text {
    color: white;
    font-weight: bold;
    /* font-size: 1.3em; */
    font-size: 2em;
    height: 35%;
    line-height: normal;
  }
  .software-eng-text strong{
    font-size: 2.1em;
  }
  .learn-more-btn {
    /* width: 120px; */
    width: 150px;
    font-size: 1em;
    position: absolute;
top: 136%;
  }

  .right-side-wrapper {
    width: 100%;
    height: 60%;
  }
  .right-side-wrapper form {
    /* height: 100%; */
    height: 90%;
   
  }
  
  
  .right-side-wrapper .header-wrapper {
    height: 6%;
    color: #f24e08;
    /* font-size: 1.2em; */
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
  padding: 2px 0 10px;
  margin-bottom: 10px;
  margin-top: 25px;
  
  }
  .right-side-wrapper .lab-title {
    margin-top: 15px;
    font-size: 1.2em;
  }
  .right-side-wrapper .title-upload{
    margin-top: 30px;
  }
  
  .right-side-wrapper .inner-wrapper {
    
    width: 95%;
    max-width: 480px;
    height:100%;
  }
}

































